* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@check: #4f29f0;
@disabled: #c3c8de;

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;

  .container {
    width: 600px;
    margin: 100px auto 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    h1 {
      text-align: center;
      font-weight: 400;
      margin-bottom: 30px;
    }
    .add-item-wrapper {
      display: flex;
      input {
        width: 500px;
        padding: 10px;
        outline: none;
        font-size: 15px;
        background-color: #f8fafc;
        border: 1px solid #e2e8f0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      button {
        width: 100px;
        padding: 10px;
        outline: none;
        color: #fff;
        font-size: 15px;
        border: none;
        cursor: pointer;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    .list-group {
      width: 100%;
      margin: 50px auto 0 auto;
      background-color: #fff;
      border-radius: 10px;
      .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        div:first-child {
          position: relative;
          display: grid;
          grid-template-columns: 30px auto;
          align-items: center;
          .checkbox {
            margin-right: 10px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            height: 15px;
            width: 15px;
            outline: none;
            border: 0;
            cursor: pointer;
            display: grid;
            align-items: center;
            &::before,
            &::after {
              content: "";
              position: absolute;
              height: 2px;
              top: auto;
              background: @check;
              border-radius: 2px;
            }
            &::before {
              width: 0px;
              right: 60%;
              transform-origin: right bottom;
            }
            &::after {
              width: 0px;
              left: 40%;
              transform-origin: left bottom;
            }
            &:checked {
              &::before {
                animation: check-01 0.4s ease forwards;
              }
              &::after {
                animation: check-02 0.4s ease forwards;
              }
              + label {
                color: @disabled;
                animation: move 0.3s ease 0.1s forwards;
                &::before {
                  background: @disabled;
                  animation: slice 0.4s ease forwards;
                }
                &::after {
                  animation: firework 0.5s ease forwards 0.1s;
                }
              }
            }
          }
        }
        label {
          position: relative;
          cursor: pointer;
          display: grid;
          align-items: center;
          width: fit-content;
          transition: color 0.3s ease;
          &::before,
          &::after {
            content: "";
            position: absolute;
          }
          &::before {
            height: 2px;
            width: 8px;
            left: -27px;
            background: @check;
            border-radius: 2px;
            transition: background 0.3s ease;
          }
          &:after {
            height: 4px;
            width: 4px;
            top: 8px;
            left: -25px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.btn {
  padding: 10px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.btn-success {
  background-color: green;
}

.btn-primary {
  background-color: #06b6d4;
}

.btn-danger {
  background-color: red;
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0,
      0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
  }
}
